@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bg-color-: #242526;
    --paragraph-color-: #C8C8C8;
    --font-color-: #FFFFFF;
    --theme-color: #F23545;
    --Nunito-font: 'Nunito', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

.main-content::-webkit-scrollbar {
    width: 0.5em;
    display: block;
}

.main-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 10px;
}


* {
    padding: 0;
    margin: 0;
    color: var(--font-color-);
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    /* border: solid white 1px; */
}

body {
    background: var(--bg-color-);
    overflow: hidden;
}

header {
    position: absolute;
    top: 3em;
    left: 0%;
    width: 100%;
}

nav>ul {
    display: flex;
    gap: 2em;
}

nav * {
    font-size: 25px;
    font-family: var(--Nunito-font);
}

nav>ul li:last-child {
    margin-left: auto;
}

nav>ul li button {
    border: none;
    height: 50px;
    width: 190px;
    border-radius: 3em;
}

button {
    background: var(--theme-color);
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

.main-content {
    padding: 0 9vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

textarea {
    resize: none;
}


#haupt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#haupt>div {
    width: 50vw;
}

#haupt>.text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3vh;
}

h1 {
    font-size: 75px;
    font-weight: 200;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#haupt>.text h1 {
    width: 530px;
}

#haupt>.text h1 t {
    letter-spacing: -5px;
}

#haupt>.text button {
    width: 528px;
    height: 50px;
    border-radius: 3em;
    font-size: 30px;
    font-family: var(--Nunito-font);
}

#haupt>.wrap-img {
    width: 30vw;
    height: 30vw;
    max-width: 600px;
    max-height: 600px;
    background: var(--theme-color);
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50%;
    transform: translate(0%, -50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#haupt>.wrap-img img {
    width: 90%;
    height: 90%;
    margin-top: auto;
    object-fit: contain;
}

#Skills>h1 {
    text-align: center;
    padding: 0.3em 0;
}

#Skills>.flex {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.wrap {
    width: calc(50% - 5vw);
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

#Skills .flex .wrap>.box {
    width: 100%;
    height: 45%;
}


#Skills .flex .wrap>.box .img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-color);

}

#Skills .flex .wrap .box .img>* {
    transition: transform 0.5s ease-out;
}

#Skills .flex .wrap .box:hover .img>* {
    transform: scale(1.1);
}

#Skills .flex .wrap>.box * {
    font-family: var(--Nunito-font);
}

#Skills .flex .wrap>.box img {
    width: 50%;
    height: 50%;
}

#Skills .flex .wrap>.box .text {
    height: 200px;
}

#Skills .flex .wrap>.box {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
}

#chevorn {
    display: none;
}

#Skills .flex .wrap .box>.overlay {
    height: 202px;
    width: 0%;
    opacity: 0;
    position: absolute;
    background: var(--theme-color);
    top: 50%;
    left: 200px;
    transform: translate(0%, -50%);
    z-index: -1;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
}

#Skills .flex .wrap .box:hover>.overlay {
    width: calc(100% - 180px);
    opacity: 1;
}

#Skills .flex .wrap>.box:nth-child(1) img {
    width: 80%;
    height: 80%;
}

#Skills .flex .wrap>.box p {
    font-size: 23px;
    text-align: justify;
    font-weight: bold;
    color: var(--paragraph-color-);
    transition: color 0.5s ease-out;
}

#Skills .flex .wrap>.box:hover p {
    color: #f1f1f1;
}

#E-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

#E-mail>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}


::placeholder {
    font-size: 30px;
}

#E-mail>form input {
    width: 30vw;
    border-radius: 1.5em;
    padding: 1em;
    color: #242526;
    font-size: 30px;
}

#E-mail>form textarea {
    width: 30vw;
    height: 25vh;
    border-radius: 1.5em;
    padding: 1em;
    color: #242526;
    font-size: 30px;
}

#E-mail>form button {
    width: 20vw;
    height: 4em;
    background: var(--theme-color);
    border-radius: 2em;
    font-size: 25px;
}

@media only screen and (max-width: 1530px) {
    nav * {
        font-size: 23.5px;
    }

    h1 {
        font-size: 70px;
    }

    #haupt>.text button {
        width: 486px;
    }

    #haupt>.wrap-img {
        width: 34vw;
        height: 34vw;
        transform: translate(0%, -50%);
    }

    #haupt>.text h1 t {
        letter-spacing: -4px;
    }

    .main-content {
        padding: 0 6em;
    }

    #Skills .flex .wrap>.box h3 {
        font-size: 30px;
    }

    #Skills .flex .wrap>.box p {
        font-size: 20px;
    }

    #Skills>.flex {
        gap: 1em;
    }

    #E-mail>form input,
    #E-mail>form textarea {
        width: 80%;
    }

    #E-mail>form button {
        width: 88%;
    }

    #E-mail>form {
        width: 100%;
    }
}

#haupt>.img .wrap-img {
    display: none;
    visibility: hidden;
    z-index: -1000;
}

@media only screen and (max-width: 1200px) {

    #chevorn {
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        padding: 0.3em 1em;
        background: var(--theme-color);
        z-index: 99;
        border: solid 1px var(--font-color-);
        border-top: 0;
        display: none;
    }

    #Skills .flex .wrap .box:hover>.overlay {
        width: 0%;
        opacity: 0;
    }

    #Skills .flex .wrap>.box:hover p {
        color: var(--paragraph-color-);
    }

    .main-content {
        padding: 0 2em;
        position: relative;
    }

    body {
        overflow: auto;
    }

    section {
        height: auto;
        min-height: 100vh;
        scroll-snap-align: none;
    }

    .main-content {
        height: auto;
        min-height: 100vh;
        scroll-snap-type: none;
    }

    #haupt {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    #haupt>div {
        width: 100vw;
        height: auto;
    }

    #haupt>.text {
        width: 100vw;
        justify-content: start;
        align-items: center;
        text-align: center;
    }

    header {
        position: fixed;
        z-index: 99;
        width: 100vw;
        height: 90vh;
        background: var(--theme-color);
        top: 0;
        display: none;
    }

    nav>ul li:last-child {
        margin: 0;
    }

    nav {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav>ul {
        display: flex;
        height: 100%;
        gap: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #haupt>.wrap-img {
        display: none;
    }

    #haupt>.img .wrap-img {
        display: flex;
        visibility: unset;
        width: 400px;
        height: 400px;
        background: var(--theme-color);
        border-radius: 50%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    #haupt>.img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #haupt>.img .wrap-img img {
        width: 90%;
        height: 90%;
        margin-top: auto;
        object-fit: contain;
    }

    #Skills>.flex {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }

    #Skills>.flex .wrap {
        height: auto;
        justify-content: center;
        gap: 2em;
        width: 99%;
        flex-direction: row;
    }

    #Skills, #Skills>h1 {
        margin-bottom: 4vh;
    }

    #Portfolio {
        margin-top: 4.5vh;
        margin-bottom: 4vh;
    }

}

@media only screen and (max-width: 1024px) {
    #Skills>.flex .wrap {
        gap: 4em;
        flex-direction: column;
    }

    .main-content {
        padding: 0 4em;
    }

    #haupt>.text h1 {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {

    #Skills>.flex .wrap .box {
        gap: 4em;
        flex-direction: column;

    }

    #Skills>.flex .wrap .box * {
        text-align: center !important;

    }

    .main-content {
        padding: 0 4em;
    }

    h1 {
        font-size: 55px;
    }

    #haupt>.text button {
        width: 400px;
    }

    #haupt>.img .wrap-img {
        height: 400px;
        width: 400px;
    }

    #Skills, #Skills>h1 {
        margin-bottom: 9vh;
    }

    #Portfolio {
        margin-top: 9vh;
        margin-bottom: 9vh;
    }
}

@media only screen and (max-width: 450px) {
    #haupt>.img .wrap-img {
        width: 350px;
        height: 350px;
    }

    h1 {
        font-size: 45px;
    }

    #haupt>.text button {
        width: 350px;
    }

    #E-mail>form input, #E-mail>form textarea {

        width: 100%;
        font-size: 22px;

    }

    #E-mail>form button {
        width: 120%;
        font-size: 22px;
    }

    .main-content {
        padding: 0 2em;
    }
}

@media only screen and (max-width: 450px) {
    #haupt>.img .wrap-img {
        width: 280px;
        height: 280px;
    }

    h1 {
        font-size: 35px;
    }

    #haupt>.text button {
        width: 280px;
    }

}

@media only screen and (max-width: 300px) {
    #haupt>.img .wrap-img {
        width: 270px;
        height: 270px;
    }

    h1 {
        font-size: 35px;
    }

    #haupt>.text button {
        width: 270px;
    }

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #242526;
}

.grid {
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

.wrapper {
    display: flex;
    max-width: 92vw;
    position: relative;
    min-height: 100vh;
    margin-left: 1%;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 99;
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper .fa-angle-left {
    left: -5%;
}

.wrapper i:last-child {
    left: 101%;
}

.wrapper .viewport {
    cursor: grab;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: flex;
    position: relative;
    /* align-items: center; */
    min-height: 50vh;
    height: auto;
    padding: 10vh 0;
}

.viewport.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.viewport.dragging .box {
    pointer-events: none;
}

.viewport .box {

    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
    height: 600px;
    user-select: none;
    margin-left: 14px;
    min-width: calc(calc(90vw / 3) - 14px);
    max-width: calc(1200px / 3);
    position: relative;
    opacity: 0;
    color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border: 1px solid var(--theme-color);
    box-shadow: 7px 0px 10px 0px rgba(242, 53, 69, 0.38), -7px 0px 10px 0px rgba(242, 53, 69, 0.38);
}

/*
glow RL

*/

.viewport .box:first-child {
    background: none !important;

}

.viewport .box:last-child {
    background: none !important;
}


.dragging {
    cursor: grabbing !important;

}

.centered {
    transform: scale(1.1);
    opacity: 1 !important;
}

.prev {
    transform: perspective(1024px) rotateY(20deg) scale(0.9);
    opacity: 1 !important;
    z-index: 99;

}

.next {
    transform: perspective(1024px) rotateY(-20deg) scale(0.9);
    opacity: 1 !important;
    z-index: 99;
}


@media screen and (max-width: 900px) {
    .viewport .box {
        min-width: calc(90vw / 2);
    }
}

@media screen and (max-width: 550px) {
    .viewport .box {
        min-width: 90vw;
    }
}

.viewport .box>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
}

.viewport .box {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;

}

.viewport .box>.text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.viewport .box>.text h2 {
    font-size: 1.7em;
    width: 100%;
    padding: 0.5em;
    background: var(--theme-color);
}

.viewport .box>.text h3 {
    font-size: 1em;
    text-align: left;
    padding: 0 1em;
}

.viewport .box>.text p {
    padding: 0 1em;
    text-align: left;
}

.viewport .box>.text a {
    background: var(--theme-color);
    width: 30%;
    text-align: center;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0 1em;
}

.viewport .blur {
    filter: blur(2px);
    transition: filter 0.5s ease-out;
}